
body {
    margin: 0;
    padding: 10px;
}

div.screen {
    display: inline-block;
    float: left;
    padding: 10px;
    background-color: #334843;
    color: white;
    font-family: monospace;
    /* Pack the lines tightly: */
    line-height: 1px;
}

div.screen span {
    white-space: pre;
}

td.control-panel {
    vertical-align: top;
    padding: 10px;
}

.debug-panel {
    display: none;
    margin-top: 10px;
}

.input-table {
    margin-top: 10px;
}

.input-table th {
    font-weight: normal;
    text-align: right;
    padding-right: 5px;
}

button[type=button] {
    width: 100px;
}

td.motorLight {
    vertical-align: center;
}

div.motorLight {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-left: 5px;
}

.motorLightOn {
    background-color: #d00;
}
